:root{
    --Merlin1:#FBDD7C;
--Hypatia1:#5550B2;
--Hypatia2:#6044CD;
--Hypatia3:#D4A068;
--Hypatia4:#45D7F7;
--Hypatia5:#100D2C;
--Hypatia6:#121011;
--Siegfried1:#FFF097;
--Joan1:#C2A45A;
--Richard1:#5D1830;
--Richard2:#7A2824;
--Richard3:#F069FF;
--Richard4:#A655F0;
--Barbarossa1:#3C3C95;
--Barbarossa2:#B49050;
--DaVinci1:#D88DD9;
--DaVinci2:#22132E;
--DaVinci3:#0F0E3D;
--DaVinci4:#522156;
--Christina1:#847978;
--Christina2:#3252CC;
--Christina4:#78C0EB;
--Guinevere1:#C99AEB;
--Guinevere2:#B66BE9;
--Guinevere3:#6858AE;
--Guinevere4:#3C2B54;
--Mordred1:#384F73;
--Copernicus1:#4A265E;
--Copernicus2:#9C3BAD;
--Lancelot1:#FFFF9A;
--Lancelot2:#B99D59;
--Roland1:#1B4544;
--Roland2:#4D6E55;
--KdG1:#14737C;
--KdG2:#121E44;
--KdG3:#411E1A;
--KdG4:#713122;
--KdG5:#196353;
--Shakespeare1:#6F061C;
--KC_IG1:#3F3657;
--KC_IG2:#A43B72;
--KC_IG3:#793750;
--KC_IG4:#821F37;
--KC_IG5:#175130;
--KC_IG6:#202C57;
--KC_IG7:#482868;
--KC_IG8:#0D4D80;
--KC_IG9:#20FAFA;
--KC_Menu1:#D8C8A7;
--KC_Menu2:#821F16;
--KC_Type1:#753B3B;
--KC_Type2:#5BA6A6;
--KC_Type3:#4D9776;
--KC_Type4:#643253;
}


* {
    line-height: 1.5;
}

body {
    background: var(--Hypatia5);
    margin: 0;
    padding: 20px;
    color: var(--Siegfried1);
    max-width: 100vh;
}

h1,
h2 {
    width: 90%;
    background: var(--Hypatia5);
    color: var(--Siegfried1);
    text-align: center;
    padding: 1%;
    border: 1px solid var(--Siegfried1);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 35px;
    font-weight: 1500;
    box-shadow: 0 0 10px 2px var(--Siegfried1),
    inset 0 0 10px 2px var(--Siegfried1);
}

table, th, td{
    border: 2px solid var(--Siegfried1);
    border-collapse: collapse;
}
table{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
th,td{
    text-align: center;
}




h3{
    background: var(--Hypatia5);
    color: var(--Siegfried1);
    width: fit-content;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid var(--Siegfried1);
    border-radius: 20px;
    box-shadow: 0 0 10px 2px var(--Siegfried1),
    inset 0 0 10px 2px var(--Siegfried1);
}

a{
    color: var(--Richard3);
}

.button{
    border: 1px solid var(--Siegfried1);
    border-radius: 20px;
    padding: 5px;
    color: var(--Siegfried1);
    text-decoration: none;
    
}

.wrapper{
    margin: 3rem;
    padding: 20px;
    border-radius: 20px;
    color: var(--Siegfried1);
    border: 1px solid var(--Siegfried1);
    box-shadow: 0 0 20px 5px var(--Siegfried1),
              inset 0 0 20px 5px var(--Siegfried1);

}

.btnWrapper{
    width: fit-content;
    margin: 3rem;
    padding: 15px;
    border: 1px solid var(--Siegfried1);
    border-radius: 20px;
    box-shadow: 0 0 10px 2px var(--Siegfried1),
              inset 0 0 10px 2px var(--Siegfried1);
}

@media(min-width:1200px) {
    .mainContainer {
        border-radius: 2rem;
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        background: var(--Hypatia5);
        color: var(--Siegfried1);
        margin: 3rem auto;
        padding: 1.5% 1%;
        box-shadow: 0 0 20px 10px var(--Siegfried1),
              inset 0 0 20px 10px var(--Siegfried1);
        min-height: 100vh;
    }

    body {
        background: var(--Hypatia5);
        margin: 0;
        padding: 0px;
        color: var(--Siegfried1);
        max-width: none;
    }
}
